:root{
    --main-color: #242635;
    --accet-color: #D1CECA;
    --fontitle-color: #34B0BE;
    --fontparagragh-color: #FFFFFF;
}
/* Reseteando caracteristicas default */
*{
    box-sizing: border-box;
    margin: 0;
 
}

body{
    background-color: var(--main-color);
    font-family: monserrat, sans-serif;
}

/* MENU */
/* Definiendo caracteristicas del menu-bar */
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 1rem;
    height: 50px;
}
/*Dando tamaño al icono del menu-bar*/
nav>div img{
    width: 2rem;
}

/* ocultando Check box */
input#menu-bar{
    visibility: hidden;
}
/* Creando menu-bar */
input#menu-bar~ul{
    background-color: var(--main-color);
    opacity: .5;
    width: 100%;
    list-style: none;
    height: 100%;
    position: absolute;
    right: 100%;
    transition: all 0.5s linear;
    text-align: center;
   
}
/* Estilando lista de menu-bar */
input#menu-bar~ul>li>a{
    color: var(--fontparagragh-color);
    height: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
    padding: 1rem;
}

input#menu-bar:checked~ul{
    right: 0;
}

ul>li:hover{
    cursor: pointer;
    border-bottom: 3px solid #34b0be;
    text-decoration: aqua;
    
}

/* ABOUT SECTION*/
/* Definiendo parametros del contenedor my-name */
#about-section{
    display: flex;
    padding: 1.25rem;
}
#about-section .my-name{
    position: absolute;

}

/* Estilando caligrafía */
#about-section p{
    color:var(--fontparagragh-color);
    font-size: 25px;
    margin-bottom: 10px;   
}
#about-section h1{
    color:var(--fontitle-color);
    font-size: 35px;
    margin-bottom: 10px;
}
#about-section h3{
    color:var(--fontparagragh-color);
    opacity: .7;
    margin-top: -10px;
    margin-bottom: 10px;
}
#about-section h3+p{
    color:var(--fontparagragh-color);
    font-size: 18px;
    opacity: .8; 
}
#about-section img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 20%;
    border-image-width: 20px;
}
.social-icon{
    background-color: var(--accet-color);
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    opacity: .8;
    
}
.social-icon>.icon{
    


    /* margin-right: 1rem; */
    width: 24px;
}


/* Definiendo parametros del contenedor about-me */
#about-me{
    display: flex;
    padding: 1rem;
    text-align: center;
}

#about-me h4{
    color: var(--fontitle-color);
    font-size: 25px;
    font-weight: 400;
}

#about-me p{
    color: var(--fontparagragh-color);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}


/*SERVICES*/

#services-section{
    text-align: center;
    margin-bottom: 20px;
}

#services-section h4{
    color: var(--fontitle-color);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;  
}

.my-services{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#services-section img{
    width: 40px;
    margin-bottom: 5px;
    margin-top: 10px;
}

#services-section .design{
    width: 100px;
    height: 130px;
    background-color: #FFFFFF;
    padding: .5rem;
    border-radius: 5px;
}
#services-section .marketing{
    width: 100px;
    height: 130px;
    background-color: #FFFFFF;
    padding: .5rem;
    border-radius: 5px;
}
#services-section .research{
    width: 100px;
    height: 130px;
    background-color: #FFFFFF;
    padding: .5rem;
    border-radius: 5px;
}

#services-section h5{
    font-size: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#services-section p{
    font-size: 8px;
    color: var(--accet-color);
    text-align: center;
}

/* SKILLS */



  































@media only screen and (min-width: 768px) {
    label{
        display: none;
    }
    
    input#menu-bar{
        position: static;
    }
}

